<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userDao" class="com.zerozzl.mlweb.dao.impl.UserDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	
	<bean id="visitorDao" class="com.zerozzl.mlweb.dao.impl.VisitorDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	
	<bean id="visitorOpinionDao" class="com.zerozzl.mlweb.dao.impl.VisitorOpinionDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	
	<bean id="detectionRecordDao" class="com.zerozzl.mlweb.dao.impl.DetectionRecordDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	
	<bean id="systemVisitsRecordDao" class="com.zerozzl.mlweb.dao.impl.SystemVisitsRecordDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

</beans>